.list-similar-jobs {
  background-color: #2b2b2b;
  margin: 10px;
  min-height: 40vh;
  max-width: 60vh;

  width: 50vh;
  border-radius: 16px;
  padding: 16px;
}
.similar-img {
  height: 60px;
  padding-right: 10px;
}
.job-title {
  font-size: 16px;
}
.icons {
  color: #fbbf24;
}
.heading-card {
  display: flex;
  align-items: center;
}
.description-text {
  font-size: 18px;
}
.bottom-card {
  display: flex;
  align-items: center;
}
.location {
  padding-right: 10px;
}
